<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
</head>
<style>
    .first {
  margin: 2px;
  border: 5px solid black;
  border-radius: 2px;
  height: 100%;
}
.btn-primary {
  height: auto;
}
#work {
  width: 90%;
}
.todo {
  background-color: rgb(53, 197, 207);
  overflow-y: hidden;
}
.task{
    border: 2px solid black;
    border-radius: 1px;
}

</style>
<body>
    <center>
    <div class="container first">
        <center><h3>To do list</h3></center>
        <div>
            <div class="todo">
            <center>
                
                <form action="/" method="POST" >
                <input name="item" type="text"  placeholder='New Item'>
               <button type="submit" class="btn-primary" value="OK">+</button>
                </form>
               
              <% for(var i=0;i < work.length;i++) {%>
                <div class="row">
               <h4 class="col-xs-6 task"><%=  work[i] %></h4> 
            </div>
              <% } %> 
             
            </center>
        </div>
        </div>
    </div>
    </center>
</body>
</html>